<body>
  <div class="main">
    <form action="">
      <div class="logo">
        <svg
          xmlns="https://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 40 48"
          aria-hidden="true"
          jsname="jjf7Ff"
        >
          <path
            fill="#4285F4"
            d="M39.2 24.45c0-1.55-.16-3.04-.43-4.45H20v8h10.73c-.45 2.53-1.86 4.68-4 6.11v5.05h6.5c3.78-3.48 5.97-8.62 5.97-14.71z"
          ></path>
          <path
            fill="#34A853"
            d="M20 44c5.4 0 9.92-1.79 13.24-4.84l-6.5-5.05C24.95 35.3 22.67 36 20 36c-5.19 0-9.59-3.51-11.15-8.23h-6.7v5.2C5.43 39.51 12.18 44 20 44z"
          ></path>
          <path
            fill="#FABB05"
            d="M8.85 27.77c-.4-1.19-.62-2.46-.62-3.77s.22-2.58.62-3.77v-5.2h-6.7C.78 17.73 0 20.77 0 24s.78 6.27 2.14 8.97l6.71-5.2z"
          ></path>
          <path
            fill="#E94235"
            d="M20 12c2.93 0 5.55 1.01 7.62 2.98l5.76-5.76C29.92 5.98 25.39 4 20 4 12.18 4 5.43 8.49 2.14 15.03l6.7 5.2C10.41 15.51 14.81 12 20 12z"
          ></path>
        </svg>
      </div>
      <div class="main">
        <div class="flex-container-1">
          <h1>Sign in</h1>
          <span>Use your Google Account</span>
        </div>
        <div class="flex-container-2">
          <div>
            <div>
              <mat-form-field appearance="outline" color="primary">
                <mat-label>Email or phone</mat-label>


                <input matInput placeholder="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher"/>
                
                <mat-error style="margin: 13px 0px;" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                  </mat-error>
                  <mat-error style="margin: 12px 0px;" *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                  </mat-error>


              </mat-form-field>
            </div>
            <div>
              <button mat-button color="primary" class="blue-button">
                Forgot email?
              </button>
            </div>
          </div>
          <div>
            <p class="note">
              Not your computer? Use Guest mode to sign in privately.
            </p>
            <div>
              <button mat-button color="primary" class="blue-button">
                Learn more about using Guest mode
              </button>
            </div>
          </div>
          <div class="button-class">
            <!-- <a > -->
              <button
                mat-button
                color="primary"
                class="button"
                id="divOption"
                (click)="displayOption($event)"
              >
                Create account
              </button>
            <!-- </a> -->
            <button mat-raised-button color="primary" class="button button-2">
              Next
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="main-2">
      <div class="btn" >
        <mat-select [value]="'en-US'" placeholder="English (United States)" disabledRipple>
          <mat-option class="opt" value="en-US">English (United States)</mat-option>
          <mat-option class="opt" value="fr">French</mat-option>
          <mat-option class="opt" value="de">German</mat-option>
          <mat-option class="opt" value="it">Italian</mat-option>
          <mat-option class="opt" value="es">Spanish</mat-option>
          <mat-option class="opt" value="pt">Portuguese</mat-option>
          <mat-option class="opt" value="ja">Japanese</mat-option>
          <mat-option class="opt" value="ko">Korean</mat-option>
        </mat-select>
      </div>
    <div>
      <button class="footer-button">Help</button>
      <button class="footer-button">Privacy</button>
      <button class="footer-button">Terms</button>
    </div>
  </div>

  <!---------------- PopUp  ------------------------->
<mat-card id="popUp">
  <div>
    <p class="pp" [routerLink]="['/register']">For my personal use</p>
    <p class="pp" [routerLink]="['/register']">For my child</p>
    <p class="pp" [routerLink]="['/register']">For work or my bussiness</p>
  </div>
</mat-card>
</body>
