<!-- main -> module -> componet -> index -->
<body>
    <app-register></app-register>
</body>


<!-- <p>Hi {{name}} {{lastName}}</p>
<input type="text" value="{{name}}">  ----------1 way binding

<input type="text" [(ngModel)] = "name"> --------2  2 way bining

<input type="text" [(ngModel)] = "obj.name"> -------
<input type="text" [(ngModel)] = "obj.age"> --------

 <!-- <button (click)="showName()">show Name</button>" -->

<!-- <p *ngIf= "name=='Umesh'">Hi all</p>  -------------------to hide -->
<!-- <p>Digit Insurance</p> -->

<!-- <p [ngClass] = "{'bgColorGreen' : name=='Umesh'}">Digit Insurance</p>     to change css  -->

<!-- <table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Role</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let details of tableData">
            <td>{{details.name}}</td>
            <td>{{details.age}}</td>
            <td>{{details.role}}</td>
        </tr>
    </tbody>
</table> -->

<router-outlet></router-outlet>