body{
    background-color: white !important;
}
.example-card {
    max-width: 200px;
    margin: 20px 30px;
    // margin-left: 250px ;
    padding: 16px;
    // border: 1px solid ;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px rgb(224, 224, 224);
  }
  .noteBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 100px;
    margin-left: 250px;
    margin-top: 100px;
  }
  .example-card-footer {
    padding: 16px;
    display: flex;
    justify-content: space-between;

  }
  mat-card-title {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-all;
  }
  p{
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-all;
  }