<body class="container">
<div class="fullContainer">
  <div>
    <div class="inputCnt" id="inputbox1">
    <input type="text" name="" id="" placeholder="Create new note" (click)="openAddNotes($event)"/>
    <a href=""><img src="../../assets/checkbox.png" class="icons" alt="" /></a>
    <a href=""><img src="../../assets/pen_icon.png" class="icons" alt="" /></a>
    <a href=""><img src="../../assets/image.png" class="icons" alt="" /></a>
    </div>
    <div class="inputCnt2" id="inputbox2">
      <div style="display: flex; flex-direction: column; justify-content: space-between;">
     <input type="text" name="" id="" placeholder="Title" style="margin-top: 10px;" [(ngModel)]="title" (keyup)="notesInput($event)" />
     <input type="text" name="" id="" placeholder="Take a note" style="margin-top: 10px;" [(ngModel)]="description" (keyup)="notesInput($event)" />
     </div>
     <div style="display: flex; justify-content: space-between; margin-top: 35px;">
     <div>
       <img src="../../assets/addAlert.png" class="icons" alt="" />
       <img src="../../assets/personAdd.png" class="icons" alt="" />
       <img src="../../assets/palette.png" class="icons" alt="" />
       <img src="../../assets/Image (2).png" class="icons" alt="" />
       <img src="../../assets/Archive (2).png" class="icons" alt="" />
       <img src="../../assets/more.png" class="icons" alt="" />
       <img src="../../assets/undo.png" class="icons" alt="">
       <img src="../../assets/redo.png" class="icons" alt="">
     </div>
     <div style=" margin-right: 15px; margin-top: 10px;">
       <a style="text-decoration: none; color: black; font-weight: 500; font-size: medium; cursor: pointer;" (click)="openAddNotes($event)">Close</a>
     </div>
    </div>
   </div>
   </div>
</div>
  <div class="div-2">
    <app-note-box></app-note-box>
  </div>
</body>
