<body class="container">
  <div style="display: flex; justify-content: center;">
  <div class="inputCnt">
    <input type="text" name="" id="" placeholder="Create new note" />
    <a href=""><img src="../../assets/checkbox.png" class="icons" alt="" /></a>
    <a href=""><img src="../../assets/pen_icon.png" class="icons" alt="" /></a>
    <a href=""><img src="../../assets/image.png" class="icons" alt="" /></a>
  </div>
</div>
  <div class="div-2">
    <app-note-box></app-note-box>
  </div>
</body>
