.registerBody {
    background-color: rgb(255, 255, 255);
    margin: 80px 200px 0px 200px;
    padding: 40px 40px;
    border-radius: 20px;
    box-shadow: none;
  }
  // .inputArea {
  //   width: 10px !important;
  //   height: 10px !important;
  // }
  .createAGoogle {
    font-family: sans-serif;
    font-size: 2.2rem;
    font-weight: "400";
    padding-left: 10px;
  }
  .footerTxt {
    text-decoration: none;
    border-radius: 8px;
    color: rgb(72, 72, 72);
    padding: 7px;
  }
  .footerTxt:hover {
    background-color: rgb(220, 221, 223);
  }
  .lang {
    border: 0px;
    margin-top: 10px;
  }
  .nxt {
    width: 80px;
    height: 40px;
    border-radius: 30px;
    background-color: #0b57d0;
    box-shadow: none;
    color: white;
    align-content: center;
    cursor: pointer;
    text-decoration: none;
  }
  .nxt:hover {
      background-color: rgb(8, 4, 207);
  }
  .nxtDiv {
    display: flex;
    justify-content: end;
    text-align: center;
    font-weight: 400;
    margin-top: 40px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .inputUser{
      width: 350px;
      height: 60px; 
  }
  ::ng-deep .mat-form-field-underline {
      display: none !important;
    }
   
   .btn{
      height: 20px;
      width: 170px !important;
      align-items: center;
      background-color: F0F4F9;
      padding: 6px;
      border-radius: 10px !important;
   } 
   .btn:hover{
    background-color: rgb(220, 221, 223);
   }
   ::ng-deep .mat-select-min-line {
      font-size: 12px !important;
  }
  ::ng-deep .mat-form-field-infix {
     border: 3px !important;
     height: 25px !important;
  }
  ::ng-deep .mat-form-field-flex{
      border-radius: 20px !important;
      background-color: white;
  }
  .example-section {
    margin: 10px 0px 10px 3px;
  }
