<title>Sign In</title>
<mat-card class="registerBody">
  <div>
    <div>
      <img
        src="../../assets/logoGoogle.png"
        alt=""
        srcset=""
        height="65"
        width="65"
        style="margin-bottom: 10px"
      />
    </div>
    <div style="display: flex; justify-content: space-between">
      <div>
        <div>
          <h1
          class="createAGoogle"
          >
            <p>Create a strong password</p>
            
          </h1>
          <h2 style="font-weight: 400; font-size: 1rem; margin-left: 10px">
            Create a strong password with mix letters, numbers <br> and symbols
          </h2>
        </div>
      </div>
      <div>
        <form action="submit">
          <p>
            <mat-form-field  class="inputUser" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="" class="inputArea" />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field  class="inputUser" appearance="outline">
              <mat-label>Confirm</mat-label>
              <input matInput placeholder="" />
            </mat-form-field>
          </p>
          <div>
            <section class="example-section">
              <mat-checkbox class="example-margin" name="cBox">Show password</mat-checkbox>
            </section>
          </div>
          <div class="nxtDiv">
            <a class="nxt">
              <span>Next</span>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
<div
  style="
    display: flex;
    justify-content: space-between;
    margin: 10px 210px 100px 210px;
  "
>

<div>
<!-- 
  <mat-form-field class="btm" appearance="fill"> -->
    <div class="btn" >
    <mat-select [value]="'en-US'" placeholder="English (United States)" disabledRipple>
      <mat-option class="opt" value="en-US">English (United States)</mat-option>
      <mat-option class="opt" value="fr">French</mat-option>
      <mat-option class="opt" value="de">German</mat-option>
      <mat-option class="opt" value="it">Italian</mat-option>
      <mat-option class="opt" value="es">Spanish</mat-option>
      <mat-option class="opt" value="pt">Portuguese</mat-option>
      <mat-option class="opt" value="ja">Japanese</mat-option>
      <mat-option class="opt" value="ko">Korean</mat-option>
    </mat-select>
  </div>
  <!-- </mat-form-field> -->
</div>
  <div class="lang">
    <span><a class="footerTxt">Help</a></span>
    <span style="margin: 25px"> <a class="footerTxt">Privacy</a></span>
    <span><a  class="footerTxt">Terms</a></span>
  </div>
</div>

<!-- <a [routerLink]="['/login']"> Login </a> -->
