body{
    background-color: white !important;
}
.example-card {
    max-width: 200px;
    margin: 20px 30px;
    // margin-left: 250px ;
    padding: 10px;
    // border: 1px solid ;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px rgb(224, 224, 224);


    min-width: 200px;
    min-height: 100px;
    overflow: hidden;
    transition: width 0.10s, height 0.10s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .example-card:hover{
    min-height: 130px;
    justify-content: space-between;
  }


  .noteBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 100px;
    margin-left: 250px;
  }
  .example-card-footer {
    padding: 10px;
    display: inline;
    justify-content: space-between;
    display: none;

  }

.example-card:hover .example-card-footer{
  display: block;
}

  mat-card-title {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-all;
  }
  p{
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-all;
  }