.example-spacer {
    flex: 1 1 auto;
    background-color: yellow;
  }
  .mat-toolbar {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
}
.mat-toolbar-row, .mat-toolbar-single-row {
  position: fixed;
}

.img{
  vertical-align: middle;
}
.searchBar{
  background-color: rgb(203, 203, 204);
  display: inline;
  align-items: center;
  vertical-align: middle;
  width: 50%;
  border-radius: 10px;
  margin-right: 20px;
}
.icons{
  vertical-align: middle;
   margin: 15px;
   height:25px;
   width:25px;
}
.userProfile{
  display: inline;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 10px;
  height: 45px;
 
}
.inputBox{
  background-color:rgb(203, 203, 204);
   border: none; 
   height: 35px; 
   width: 92%; 
   margin: 4px 3px; 
   border: none; 
   outline: none;
}
.logo{
  vertical-align: middle;
  height: 50px;
  width:  50px;
}

.sidebar {
  width: 235px;
  height: 100%;
  margin-top: 64px;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s;
}

.sidebar.open {
  left: 0;
}
::ng-deep .mat-list-item-content:hover{
   background-color: rgb(215, 215, 147) !important;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
}