<body>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSidebar()">
          <mat-icon>menu</mat-icon>
        </button>
        <div><span><img src="../../assets/keepLogo.png" class="logo" alt=""></span><span>Keep</span></div>
        <span class="example-spacer"></span>
        <span class=" searchBar">
        <span><img src="../../assets/searchIcon.png " height="35px" width="35px" class="img"></span>
         <input type="text" value="" class="inputBox">
        </span>
        <span><img src="../../assets/refresh.png" class="icons" alt=""></span>
        <span style="rotate: 90deg;"><img src="../../assets/pause.png" class="icons"  alt=""></span>
        <span><img src="../../assets/setting.png" class="icons" alt=""></span>
        <span><img src="../../assets/nineDots.png" class="icons" alt=""></span>
        <div class="userProfile">
          <span><img src="../../assets/Go-Digit-Logo.jpg" width="70px" height="25px" style="vertical-align: middle;" alt=""></span>
          <span><img src="../../assets/virat.avif" style="border-radius: 40px; height: 25px; width: 25px; margin: 10px; vertical-align: middle;" alt=""></span>
        </div>
      </mat-toolbar>

    <!-- sideBar -->


    <div class="sidebar" [class.open]="isSidebarOpen">
      <mat-nav-list>
        <a mat-list-item href="#"><span><img src="../../assets/bulb.png" class="icons" alt=""></span><span>Notes</span></a>
        <a mat-list-item href="#"><span><img src="../../assets/reminder.png" class="icons" alt=""></span><span>Reminder</span></a>
        <a mat-list-item href="#"><span><img src="../../assets/bulb.png" class="icons" alt=""></span><span>Notes</span></a>
        <a mat-list-item href="#"><span><img src="../../assets/pen.png" class="icons" alt=""></span><span>Edit Labels</span></a>
        <a mat-list-item href="#"><span><img src="../../assets/archive.png" class="icons" alt=""></span><span>Archive</span></a>
        <a mat-list-item href="#"><span><img src="../../assets/delete.png" class="icons" alt=""></span><span>Trash</span></a>
      </mat-nav-list>
    </div>









  <!-- sidebar -->  
  <!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened="true">
     
    </mat-sidenav>
  </mat-sidenav-container> -->
</body>
