<title>Sign In</title>
<mat-card class="registerBody">
  <div>
    <div>
        <img
          src="../../assets/logoGoogle.png"
          alt=""
          srcset=""
          height="48"
          width="48"
        />
      </div>
    <div style="display: flex; justify-content: space-between">
      <div>
        <div>
          <h1>
            Create a Google <br />
            Account
          </h1>
        </div>
      </div>
      <div>
        <form action="submit">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>FirstName</mat-label>
              <input matInput placeholder="" />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>LastName (optional)</mat-label>
              <input matInput placeholder="" />
            </mat-form-field>
          </p>
          <div class="" style="display: flex; justify-content: end; text-align: center; font-weight: 400;">
            <a  style="width: 80px; height: 40px; border-radius: 30px; background-color: #0b57d0; box-shadow: none; color: white; align-content: center;">
              <!-- <mat-icon>favorit</mat-icon> -->
                <span >Next</span>
             
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
